<!DOCTYPE html>
<html>
<head>
	<title>GET STARTED</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/home.css">
</head>
<body>
	<div class="container" id="landing-header">
		<div class="row">
			<div class="col-lg-12">
				<h1>WELCOME TO SET IT UP</h1>
				<br>
				<a href="/login" type="button" class=" btn btn-outline-danger btn-lg">GET STARTED <i class="fas fa-heart"></i></a>
</div>
</div>
</div>
<ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5edb6bcd6bc39dbb"></script>
</body>
</html>
