<!DOCTYPE html>
<html>
<head>
	<title>
		JOY
	</title>
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="todos.css">
</head>
<body>
	<div class="share-button">
		<span><i class="fas fa-share-alt"></i>  Share!</span>
	<a href="http://www.facebook.com/sharer.php?u=http://www.instagram.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://wa.me/?text=joy"><i class="fab fa-whatsapp"></i></a>
    <a href="https://twitter.com/share?url=http://www.instagram.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.instagram.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>

</div>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
</body>
</html>
